
body{
    background-color: #777;
    font-size: 18px;
}

p {
    text-align: center;
    margin: 0;
    padding: 0;
}

#wrapper{
    width:80%;
}

.header{
    width: 100%;
    background-color: #ebebeb;
    height: 110px;
    text-align: center;
    font-family: 'Arial';
    margin-top: 1.5%;
}

#content {
    font-family: 'Helvectica Neue';
    display: flex;
    margin-top: 1.5%;
}
#section {
    /*position: absolute;*/
       float: left;  
       width: 60%;
       height: 400px;  
       background-color: #ebebeb;
       margin-right: 1.5%

}
#article {
    background-color: #777;
    margin: 5%;
    height: 300px;
    padding: 1%;
    font-family: sans-serif;
}

.articlebox {
    background-color: #ebebeb;
    margin: 3%;
    padding: 2%;
    height: 50px;
}

#aside {
        /*float: right;*/
        width: 40%;
        height: 400px;  
        background-color: #ebebeb;
}


